<!DOCTYPE html>
<html>
<head>
    <title>Anime Scrapping</title>
    <link href="//vjs.zencdn.net/5.4.6/video-js.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style type="text/css">
        .video-js{
            width: 100% !important;
        }
    </style>
</head>
<body>
    <div class="container">

        <% for(var j=0; j< videos.length; j++) {%>
        <h1><%= videos[j].name %></h1>
        <video id="videoPlay-<%= j %>" class="video-js vjs-default-skin vjs-big-play-centered"
          controls preload="auto" width="640" height="264"
          data-setup='{}'>
          <source src="<%= videos[j].file %>" type="video/mp4" />
           <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
       </video>

       <% } %>
   </div>


   <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
   <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script src="//vjs.zencdn.net/5.4.6/video.min.js"></script>

</body>
</html>